<template>
    <card class="flex flex-col items-center justify-center h-auto">
        <div class="px-3 py-3">
            <h1 class="text-center text-3xl text-80 font-light">Email Domains</h1>
        </div>
        <div class="px-3 py-3">
            <div class="w-full flex">
                <input type="text" v-on:keyup.enter="filterDomains" class="w-2/3 form-control form-input form-input-bordered mr-1" aria-label="Filter email domains" v-model="domainFilter">
                <div class="w-1/3"><a @click="filterDomains()" class="btn btn-default btn-primary">Filter</a></div>
            </div>
        </div>
        <div class="px-3 py-3 w-full">
            <div class="text-center">
                <span class="font-thin text-sm">Showing top 10 domains</span>
            </div>
            <div class="flex w-full flex-wrap" role="list">
                <div v-for="(domain, i) in results" v-if="i < 10" class="flex py-2 w-1/2 border-b-2 border-primary-30%">
                    <div class="w-3/4 font-bold truncate">{{ domain.domain }}</div>
                    <div class="w-1/4">{{ domain.count }}</div>
                </div>
            </div>
        </div>
        <div class="px-3 py-3 w-full">
            <div class="bg-primary-10% flex items-center justify-center rounded">
                <div class="px-3 py-3 text-center">
                    <div>
                        <span class="font-bold text-lg">{{ card.total_emails }}</span>
                    </div>
                    <div>
                        <span>Total Emails</span>
                    </div>
                </div>
                <div class="px-3 py-3 text-center">
                    <div>
                        <span class="font-bold text-lg">{{ card.total_domains }}</span>
                    </div>
                    <div>
                        <span>Unique Domains</span>
                    </div>
                </div>
            </div>
        </div>
    </card>
</template>

<script>
export default {
    props: [
        'card',

        // The following props are only available on resource detail cards...
        // 'resource',
        // 'resourceId',
        // 'resourceName',
    ],

    data() {
        return {
            domainFilter: null,
            results: this.card.domains
        }
    },

    mounted() {
        //
    },

    methods: {
        filterDomains() {
            if (!this.domainFilter || this.domainFilter === '') {
                this.results = this.card.domains;
            } else {
                let filter = this.domainFilter.toLowerCase();
                let domains = [];

                for (let i = 0; i < this.card.domains.length; i++) {
                    if (this.card.domains[i].domain.toLowerCase().indexOf(filter) > -1) {
                        domains.push(this.card.domains[i]);
                    }
                }

                this.results = domains;
            }
        }
    }
}
</script>
